.kaggle/
kaggle.json
data/raw/*.zip
data/raw/deepfashion_category/
data/raw/deepfashion_inshop/
data/raw/deepfashion_retrieval/
data/processed/
*.jpg
*.png
*.jpeg
*.npy
*.pt
*.h5
*.ckpt
__pycache__/
*.pyc
data/user_embeddings/
data/user_crops/
data/uploads/*
!data/uploads/.gitkeep
.DS_Store
data/.DS_Stores
data/raw/dataset_yolo/
dataset_yolo/
