# -----------------------------
# UI
# -----------------------------
streamlit==1.36.0
pillow
numpy

# -----------------------------
# Computer Vision
# -----------------------------
opencv-python-headless==4.9.0.80
ultralytics==8.3.0

# -----------------------------
# PyTorch (must match!)
# -----------------------------
torch==2.1.1
torchvision==0.16.1

# -----------------------------
# HuggingFace + CLIP
# -----------------------------
transformers==4.38.2
accelerate==0.27.2
ftfy
regex
tqdm

# FAISS
faiss-cpu==1.7.4

# OpenAI CLIP
git+https://github.com/openai/CLIP.git
